@font-face {
  font-family: 'JF-Flat-Regular';
  src: url(../fonts/JF-Flat-Regular.ttf) format(truetype);
  font-weight: bolder;
  font-style: normal;
}

/* For desktop and larger devices  dropdown by hover */
@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
}


html,
body {
  font-family: 'JF-Flat-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;

}

a {
  color: inherit;
}

.custom-navbar {
  border-bottom: 3px solid #f7f8f3;
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
}

.categories {
  border-right: 0 !important;
  border-radius: 0%;
}

.custome-dropdown-toggle {

  padding: 7px 7px;
}

.custom-navbar .btn-icon.navbar-toggler {
  padding-top: 5px !important;
}

.custom-navbar .btn-icon {
  color: #777;
  border: #ddd 1px solid;
  background-color: transparent;
  border-radius: 2px;
  padding-top: 10px;
  margin-right: 15px;
  height: 40px;
}



/* carousel section .*/
#carousel-featured {
  background-color: #f7f8f3;
  height: 400px;
  padding-top: 25px;
}

#carousel-featured .carousel-item img {
  height: 375px;
}

#carousel-featured .product-details {
  border: #ddd 1px solid;
  padding: 20px;
  position: relative;
  top: 50px;
  background-color: #F7F8F3;
}

#carousel-featured .product-details .product-category {
  border: #ddd 1px solid;
  padding: 10px;
  position: absolute;
  top: -20px;
  right: -10px;
  background-color: #F7F8F3;
}

#carousel-featured .product-details h1 {
  font-weight: 500;
  font-size: 175%;
  margin-top: 18px;
}

#carousel-featured .product-details a {
  margin-top: 15px;
}

.custom-carousel-indicators-primary {
  height: 50px !important;
  width: 50px !important;
  opacity: 1 !important;
  border: 1px #ddd solid !important;
  margin: 0;
}

.custom-carousel-indicators {
  position: absolute;
  top: 210px;
  right: 47%;
}

.carousel-control-prev,
.carousel-control-next {
  color: #777 !important;
  font-size: 30px;
}

#store-features {
  box-shadow: #eef0ea 0px 0px 25px;
  background-image: url(../images/bg_features.png);
  background-repeat: no-repeat;
  position: relative;
  top: -30px;
  background-size: auto 60%;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  background-position: -10px -20px;
}

#store-features .feature {
  padding-top: 10px;
}

#store-features .feature>img {
  height: 40px;
  margin-bottom: 10px;
}

/* تحديد اول فيشر والفيشر الذي يليه وبالتالي لن يتم تحديد الاخير لان ليس لديه اخ تالي */
#store-features .feature+.feature {
  border-right: #eef0ea 1px solid;
}



.custom-carousel-indicators2 li {

  background-color: #838383 !important;
  width: 15px !important;
  height: 15px !important;
  margin: 4px !important;
  border-radius: 50%;
  list-style: none !important;
}



.custom-carousel-indicators2 {
  bottom: -70px !important;
}

.rating {
  color: #c2c2c2;
}

.overlay {
  position: absolute;
  background-color: rgba(83, 204, 215, 0.5);
  height: calc(100% - 78px);
  width: calc(100% - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.overlay:hover {
  opacity: 1;
}

#carousel-most-sold .carousel-inner .carousel-item img {
  flex: 1;
}

.carousel-item .card {
  display: flex;
  align-items: stretch;
}

/* brand section */
.panel {
  border: 1px #c2c2c2 solid;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 20px;
}

.panel .carousel-inner .float-start {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.panel .clearfix .float-start {
  margin-top: 10px;
}

.row-brands {
  margin-top: 90px;
}

.row-brands .heading {

  border-top: #ebebeb 1px solid;
  padding-top: 20px;
}

.arrow-btn {
  background-color: #fff;
  color: #868686;
  border: 1px #ebebeb solid;
  border-radius: 2px;
}

.arrow-btn:hover {
  color: #000;
  border: 1px #ebebeb solid;
  border-radius: 2px;
}

/* الماركات العالمية */
#brand-logo {
  background-color: #dbeefa;
  padding: 25px 0;
  color: #555;
}



/* footer */
#footer-nav {
  background-color: #1f1e1e;
  padding: 40px 40px 90px;
  background-image: url(../images/bg_footer_1.png), url(../images/bg_footer_2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 110% 0, -10% 0;
}

.footer-nav-links {
  margin: 30px 0;
}

.footer-nav-links a {
  color: #555;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  text-decoration: none;
}

.footer-nav-links a:hover {
  color: #fff;
}

.newsletter form {
  max-width: 250px;
  border: none;
  height: 38px;
}

.newsletter form button {
  border-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding: 6px 12px 4px;
}

.newsletter form input {
  opacity: 0.7;
}

footer .newsletter form label {
  color: #555 !important;
  padding-bottom: 15px;
}

.newsletter {
  border-top: 1px #292929 solid;
  padding-top: 20px;
}

.footer-copyright-social {
  background-color: #151515;
  color: #555;
  padding: 22px 0 7px;
  font-weight: bold;
}

.footer-copyright-social a {
  text-decoration: none;
  margin: 0 5px;
  color: #303030;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

/* Product Page style */

.custom-breadcrumb {
  padding: 25px 0;
}

.custom-breadcrumb a {
  color: #555;
  text-decoration: none;
}

.custom-breadcrumb .active {
  color: #bfbfbf !important;
}

#carousel-product-images .carousel-indicators {
  position: absolute;
  top: 92%;
  right: 0;
}

#carousel-product-images .carousel-item img {
  width: 100%;
  height: auto;
  border: 1px #ebebeb solid;
}

.product-category {
  color: #a9a9a9;
}

#form-product-selection .clearfix {
  padding-top: 15px;
}

/* The CSS selector .borders-between > div + div targets a div element that immediately follows another div element 
thats mean first div will not selected as it not folloed by div */
.borders-between>div+div {
  border-top: 1px #ebebeb solid;
  padding: 15px 0;
}

.product-option {
  display: inline-block;
  height: 23px;
  width: 23px;
  border: 1px #ebebeb solid;
  text-align: center;
  justify-content: center;
  color: #c2c2c2;
  margin: 3px;
}

.product-option input {
  display: none;

}

.product-option,
.color-option {
  cursor: pointer;
}

.product-option.active {
  color: #F8AD47;
  border-color: #F8AD47;
}

.color-option.active {
  border-color: #fff;
  outline: #000 solid 1px;
}

.product-quantity select {
  height: 33px !important;
  padding: 4px 6px;
  margin-right: 5px;
  color: #555;
  border-color: #ebebeb !important;
}

.custom-btn-withicon {
  margin: 15px 0;
  border-radius: 0 !important;
}

.heading-with-border-bottom {
  border-bottom: 1px #ebebeb solid;
  padding-bottom: 15px;
}

.heading-inline {
  display: inline-block;
  min-width: 250px;
}

.more-description p,
.more-description ul {
  margin-bottom: 10px;
  margin-right: 20px;
}

.more-description {
  margin-top: 20px;

}

.comments {
  margin-top: 20px;
}

.comments .comment img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  border: #c2c2c2 solid 1px;
}

.suggestions {
  margin-bottom: 30px;
}

.suggestions .card img {
  height: auto;
}

.comments .comment p {
  color: #555;
}

/* checout page! */
.custom-media img {
  width: 80px;
  height: 80px;
  border: #ebebeb solid 1px;
  margin-left: 10px;
}

/* payment page */
.custom-input-details {
  border-radius: 3px;
}

/* search page */
#form-advanced-search {
  border: 1px #ebebeb solid;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

#form-advanced-search .panel {
  border: none;
  padding: 5px;
}

.panel .card-header {
  background-color: transparent;
  margin-bottom: 15px;
  padding-bottom: 13px;
}

.custom-list-group .list-group-item {
  border: none;
}

.custom-list-group {
  border-bottom: 1px #ebebeb solid;
}

#form-advanced-search label {
  font-weight: bold;
  cursor: pointer;
}

.custom-pagination .page-link {
  color: #777 !important;
}

/* contact page  */
.contact-info ul {
  list-style-type: none !important;
}

.contact-info ol,
ul {
  padding-right: 0px !important;
}

.contact-form textarea {
  height: 70px !important;
  margin-top: -5px !important;
}

.contact-info h3,
.contact-info h5 {
  border-bottom: #ebebeb solid 1px;
  padding-bottom: 10px;
}

/* break points */

/* `sm` applies to x-small devices ( portrait phones, less than 576px ) */
@media (max-width: 575.98px) {

  .add-to-cart-btn,
  .add-to-cart-btn:hover {
    display: none;
  }

  .arrow-btn {
    margin-top: 20px;
  }

  .custom-text-muted {
    font-size: smaller;
  }

  #footer-nav {
    background-color: #1f1e1e;
    padding: 40px 40px 90px;
    background-image: url(../images/bg_footer_1.png);
    background-repeat: no-repeat;
    background-position: 110%;
  }

  .overlay {

    display: none !important;
  }


}

/* `md` applies to small devices (landscape phones, less than 768px) */
#footer-nav {
  background-color: #1f1e1e;
  padding: 40px 40px 90px;
  background-image: url(../images/bg_footer_1.png);
  background-repeat: no-repeat;
  background-position: 110%;

}

@media (min-width: 770px) and (max-width: 880px) {
  .custom-carousel-indicators {
    margin-right: 40px !important;
  }

  .add-to-cart-btn,
  .add-to-cart-btn:hover {
    display: none;
  }

  #footer-nav {
    background-color: #1f1e1e;
    padding: 40px 40px 90px;
    background-image: url(../images/bg_footer_1.png);
    background-repeat: no-repeat;
    background-position: 110%;

  }

  .overlay {
    display: none !important;
  }
}

@media (max-width: 767.98px) {

  #carousel-featured {
    padding-bottom: 25px;
  }

  #carousel-featured .carousel-item img {
    height: 250px;
  }

  #carousel-featured,
  #carousel-featured .product-details {
    height: auto;
    top: -3px;
    text-align: center;
  }

  .add-to-cart-btn,
  .add-to-cart-btn:hover {
    display: none;
  }

  .arrow-btn {

    margin-top: 20px;
  }

  #footer-nav form {
    width: 100%;
    max-width: 100%;

  }

  #footer-nav {
    background-color: #1f1e1e;
    padding: 40px 40px 90px;
    background-image: url(../images/bg_footer_1.png);
    background-repeat: no-repeat;
    background-position: 110%;
  }

  .overlay {
    display: none !important;
  }
}

/* lg`applies to medium devices (like tablets or less than 992px )*/
@media (max-width: 991.98px) {

  .custom-navbar .container {
    max-width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .navbar-header {
    display: block;
    width: 100%;
    margin-bottom: 22px;
  }

  .navbar-header .btn-icon {
    float: left;
    margin-left: 0px !important;
    margin-right: 10px !important;
  }

  .inline-form {
    display: block;
    width: 100%;

  }

  .custom-carousel-indicators {
    margin-right: 80px;
  }

  .overlay {

    height: calc(100% - 160px) !important;
  }

  #copyright,
  #social-icons {
    text-align: center;
    width: 100%;
  }

  #social-icons {
    padding-bottom: 20px;
  }

  .product-images {
    margin-bottom: 60px;
  }

  .product-option {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    font-size: 20px;

  }

  .borders-between .row {
    margin-bottom: 15px !important;
  }
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

  .custom-navbar .navbar-nav .nav-link {
    padding: 3px !important;
    margin: 1px !important;
    padding-top: 12px !important;
  }

  .custom-carousel-indicators {
    margin-right: 80px;
  }
}